@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --accent-color: #feb90e;
    --accent-color-rgb: 254, 185, 14;
    --accent-color-hover: rgba(254, 185, 14, 0.8);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#content {
    width: 100%;
    padding: 15vh 15% 5vh 15%;
    font-size: medium;
    display: flow-root;
    /* transition: ease-in-out 1.5s; */
}

#content a {
    color: var(--accent-color);
    text-decoration: none;
}

#content h1 {
    padding: 5px 0px;
    position: relative;
    width: fit-content;
    font-family: 'Fira Code', monospace;
    overflow: auto;
}

#content h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 4px;
    background: var(--accent-color);
}

#content h2 {
    padding-top: 6px;
    padding-bottom: 12px;
    width: fit-content;
    font-family: 'Fira Code', monospace;
    color: #777;
}

/* #content h2::after {
    content: "";
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #aaaaaaff;
} */

#content p {
    padding-top: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.8;
    text-align: justify;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.image-container img {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.image-container label {
    display: block;
    font-style: italic;
    color: #777;
    padding-top: 12px;
    font-size: small;
    text-align: center;
}

/* Modifier for centered images (like the top one) */
.image-container.centered {
    width: 70%;
    margin: 40px auto;
}

/* Modifier for side-floated images */
.image-container.right {
    float: right;
    width: 40%;
    margin-top: 40px;
    margin-left: 30px;
}

.image-container.left {
    float: left;
    width: 40%;
    margin-top: 40px;
    margin-right: 30px;
}

@media (max-width: 800px) {

    .image-container.centered,
    .image-container.right,
    .image-container.left {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 40px 0;
    width: 100%;
    clear: both;
}

.image-grid .image-container {
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
}

@media (max-width: 1000px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
    width: 100%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}