@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#content {
    width: 100%;
    padding: 6vh 8%;
    font-size: medium;
}

#content h1 {
    font-weight: bold;
    border-bottom: 4px solid var(--accent-color);
    width: 6%;
    padding-top: 10vh;
    padding-bottom: 5px 0px;
    /* padding-left: 8%;
    padding-right: 8%; */
    /* font-size: 45px; */
}